.main
  .main__contents
    お仕事一覧
    .projects
      .project
        .project__left
          .project__left__title
            = link_to "#" do
              Webサイト制作お願いします！
          .project__left__description
            ECサイトのweb制作ができる方を探しています。特にデザイン経験のある方や開発経験のある方を優先いたします。
          .project__left__user
            あやSE
        .project__right
          .project__right__price
            5000円

      .project
        .project__left
          .project__left__title
            = link_to "#" do
              Webサイト制作お願いします！
          .project__left__description
            ECサイトのweb制作ができる方を探しています。特にデザイン経験のある方や開発経験のある方を優先いたします。
          .project__left__user
            あやSE
        .project__right
          .project__right__price
            5000円

      .project
        .project__left
          .project__left__title
            = link_to "#" do
              Webサイト制作お願いします！
          .project__left__description
            ECサイトのweb制作ができる方を探しています。特にデザイン経験のある方や開発経験のある方を優先いたします。
          .project__left__user
            あやSE
        .project__right
          .project__right__price
            5000円

      .project
        .project__left
          .project__left__title
            = link_to "#" do
              Webサイト制作お願いします！
          .project__left__description
            ECサイトのweb制作ができる方を探しています。特にデザイン経験のある方や開発経験のある方を優先いたします。
          .project__left__user
            あやSE
        .project__right
          .project__right__price
            5000円

      .project
        .project__left
          .project__left__title
            = link_to "#" do
              Webサイト制作お願いします！
          .project__left__description
            ECサイトのweb制作ができる方を探しています。特にデザイン経験のある方や開発経験のある方を優先いたします。
          .project__left__user
            あやSE
        .project__right
          .project__right__price
            5000円