!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %title Spice
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .main-header
      .main-header__up
        L-Works

      - if user_signed_in?
        .main-header__under
          .main-header__under__home
            = link_to root_path do
              HOME
              |
          .main-header__under__mypage
            = link_to root_path do
              マイページ
              |
          .main-header__under__message
            = link_to root_path do
              メッセージ
              |
          .main-header__under__edit
            = link_to edit_user_path(current_user) do
              ユーザー情報変更

    .body
      = yield

    .footer
      .footer__content1
        お問い合わせ
      .footer__copyright
        ©︎L・Works
